<p *ngIf="!assessments.length; else table" class="assessments-table__empty">
  No assessments found
</p>

<ng-template #table>
  <table mat-table [dataSource]="assessments" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="users_resolved">
      <th mat-header-cell *matHeaderCellDef>No. users resolved</th>
      <td mat-cell *matCellDef="let element">{{ element.users_resolved }}</td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef>Is active</th>
      <td mat-cell *matCellDef="let element">
        {{ element.active ? "Yes" : "No" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="image_url">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let element">
        <img class="assessments-table__image" [src]="element.image_url" />
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      class="assessments-table__row"
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="onRowClick(row)"
    ></tr>
  </table>
</ng-template>
