<div>
  <h1 class="mat-headline-2 admin-page__title">Users</h1>

  <app-loading *ngIf="isLoading$ | async; else loaded"></app-loading>
  <ng-template #loaded>
    <div *ngIf="loadingError$ | async; else success">
      <app-error
        text="Failed to load users. Please try again later"
      ></app-error>
    </div>

    <ng-template #success>
      <div class="admin-page__table-wrapper" *ngIf="users$ | async as users">
        <app-users-table [users]="users"></app-users-table>
      </div>
    </ng-template>
  </ng-template>
</div>
