<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="navbar__spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div class="navbar__menu">
      <div>
        {{ auth.getFullName() }}
      </div>
      <div>
        <button (click)="logout()" mat-raised-button type="submit" color="warn">
          Logout
        </button>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>
