<div>
  <h1 class="graph-page__title">Graph of assessment No. {{ assessmentId }}</h1>

  <app-loading *ngIf="isLoading; else loaded"></app-loading>
  <ng-template #loaded>
    <div *ngIf="loadingError?.error; else success">
      <app-error
        text="Failed to load graph data. Please try again later"
      ></app-error>
    </div>

    <ng-template #success>
      <div *ngIf="graphData" class="graph-page__graph-wrapper">
        <canvas
          baseChart
          [datasets]="graphDataFormatted"
          [labels]="graphLabels"
          [options]="graphOptions"
          [legend]="true"
          [type]="graphData.type"
        >
        </canvas>
      </div>
    </ng-template>
  </ng-template>
</div>
