<div>
  <h1 class="graph-page__title">Graph of assessment No. {{ assessmentId }}</h1>

  <app-loading *ngIf="isLoading$ | async; else loaded"></app-loading>

  <ng-template #loaded>
    <div *ngIf="loadingError$ | async; else success">
      <app-error
        text="Failed to load graph data. Please try again later"
      ></app-error>
    </div>

    <ng-template #success>
      <div
        *ngIf="displayData$ | async as graph; else empty"
        class="graph-page__graph-wrapper"
      >
        <canvas
          baseChart
          [datasets]="[graph.dataset]"
          [labels]="graph.labels"
          [options]="graph.options"
          [legend]="true"
          [type]="graph.graph.type"
        >
        </canvas>
      </div>
      <ng-template #empty>
        <p class="graph-page__empty">No data</p>
      </ng-template>
    </ng-template>
  </ng-template>
</div>
